.RocketContainer {
  display: flex;
  margin: 20px 80px;
  gap: 20px;
}

.RocketImage {
  width: 280px;
}

.RocketDetails {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.RocketBadge {
  background-color: rgb(37, 177, 187);
  color: #fff;
  padding: 2px;
  border-radius: 3px;
  margin-right: 5px;
}

.ReserveRocketButton {
  width: 200px;
  background-color: #0290ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  height: 40px;
}

.ReserveCancelButton {
  width: 130px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  height: 40px;
}
